
.merriweather-text {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.primary-style{
    margin: 0px;
    padding: 0px;
}

.flex-primary{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.99), rgba(0, 0, 0, 0.05)),
    url('../images/Banner Image.png');
    border-radius: 16px;
    text-align: center;
    color: white;
    background-repeat: round;
    background-position: center;
    max-width: 1320px;
    height: 600px;
    margin: 20px auto;
}

.sec1 h4{
    font-size: 32px;
    margin-bottom: 0px;
    font-weight: 300;
    z-index: 2;
    color: white;
}
.sec1 h1{
    font-size: 72px;
    font-weight: bolder;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: 900;
    color: white;
    z-index: 1;
}

.sec2{
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.sec2 h1{
    font-size: 88px;
    font-weight: bold;
    color: #FF0000;
    margin-top: 80px;
    margin-bottom: 0px;
}

.sec2 h4{
    font-size: 24px;
    font-weight: 500;
    color: #FF0000;
    margin-top: 48px;
    margin-bottom: 0px;
}

.sec2 h3{
    font-size: 48px;
    font-weight: bolder;
    color: #070211;
    margin-top: 16px;
    margin-bottom: 0px;
}
.img{
    margin-top: 48px;
    margin-bottom: 0px;
}

.sec3{
    max-width: 1320px;
    height: 600px;
    margin: 100px auto;
    background-image: linear-gradient(rgba(0, 0, 0, 0.99), rgba(0, 0, 0, 0.05)),
    url('../images/Vectorrr.png');
    color: white;
    border-radius: 16px;
}

.sec3 .text{
    padding: 126px;
}

.sec3 .text h1{
    font-size: 64px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.sec3 #para{
    max-width: 700px;
    font-size: 18px;
    margin-top: 36px;
}

.sec3 .text button{
    background: black;
    color: white;
    font-size: large;
}

.sec4{
    font-size: 32px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 1320px;
    height: 482px;
    margin: 0 auto;
    background-image: linear-gradient(rgba(255, 0, 0, 0.1),#FFFFFF);
    border-radius: 10px;
}

.sec4-container{
    max-width: 550px;
}
.sec5{
    justify-content: space-around;
    max-width: 1320px;
    margin: 0 auto;
}


.container1 .para{
    max-width: 350px;
    font-size: 16px;
    font-weight: light;
    margin: 0px;
    margin-top: 22px;
}

.container1 .subline{
    font-size: 48px;
    font-weight: bolder;
    margin: 0px;
}

.headline{
    font-size: 24px;
    font-weight: 400;
    margin: 0px;
    margin-bottom: 16px;
    color: #FF0000;
}

.container3{
    max-width: 276px;
}

.ring-img{
    max-width: 364px;
    max-height: 364px;
    border-radius: 50%; /* Makes it circular */
    border: 8px solid red;
    padding: 20px;
}

.sec6-container{
    text-align: center;
    max-width: 1320px;
    margin: 0 auto;
    margin-top: 120px;
}

.sec6-para{
    max-width: 1068px;
    margin: 0 auto;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    line-height: 32px;
}

.sec6 .line1{
    font-size: 24px;
    font-weight: 400;
    margin: 0px;
}

.sales-pic-container{
    height: 500px;
    background-image: url("../images/Rectangle\ 2.png");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 50% 30%;
}

.sec-container .pic-container{
    position: relative;
    padding: 28px 0;
    display: flex;
    align-items: end;
    justify-content: end;
}

.pic-container{
    margin-top: 100px;
}
.sales-container .pic-container img {
  width: 400px;
}

.rec-box{
    display: block;
    max-width: 1340px;
    margin: 0 auto;
    position: relative;
    top: 600px;
    z-index: -1;
}

.surprise-box{
    /* position: absolute;
    left: 400px; */
    width: 550px;
    position: absolute;
    top: 45%;
    left: 25%;
}

.discount{
    position: absolute;
    left: 57%;
    top: 30%;
}

.sec8{
    max-width: 1320px;
    margin: 0 auto;
    margin-top: 150px;
}

.sec8 .text{
    margin-bottom: 40px;
}

.gallery{
    /* display: grid; */
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.subscription{
    text-align: center;
    background-image: linear-gradient(rgba(255, 0, 0, 0.05),#FFFFFF);
    border-radius: 10px;
    height: 482px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-container{
    width: 50%;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    gap: 0px;
}



.form-container{
    padding: 80px 0px;
}

#newsletter{
    width: 100%;
    border-radius: 50px 0px 0px 50px;
    border: none;
    padding: 24px 30px;
}

#subscribe-label{
    width: 210px;
    height: 72px;
    color: white;
    background-color: #FF0000;
    border: none;
    border-radius: 0px 50px 50px 0px;
    font-size: 22px;
}

footer{
    background: #070211;
    width: 100%;
    height: 720px;
    margin-top: 120px;
}

.details{
    color: white;
    display: flex;
    justify-content: space-around;
    font-size: 24px;
    font-weight: 500;
}

footer .icons{
    max-width: 350px;
    display: flex;
    justify-content: space-around;
    margin: 100px auto;
    align-items: center;
}

